*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.carousel {
    display: flex;
    justify-content: center;
}
.social {
    list-style-type: none;
    text-decoration: none;
}
.nav-link {
    color: white;
}
.footer div a {
    color: white;
}
.login
{
    font-size: 15px;
    line-height: 40px;
    margin: 20px 0 15px 0;
}
.container .github a,
.container .twitter a,
.container .facebook a {
    display: block;
    font-size: 15px;
    text-decoration: none;
    padding-left: 20px;
    color: #fff;
    line-height: 45px;
    border-radius: 5px;
}

.container .github a {
    background-color: #24292e;
    margin: 20px 0 15px 0;
}

.container .twitter a {
    background: #1ad1f2;
    margin: 20px 0 15px 0;
}


.container .facebook a {
    background: #4267b2;
    margin: 20px 0 15px 0;
}

.container .github i,
.container .twitter i,
.container .facebook i {
    font-size: 22px;
    padding-right: 22px;
}
